@model IEnumerable<Meal>

<table id="meals"
        class="table table-bordered table-striped w-auto"
        style="table-layout: fixed; width:100%"
        data-url="@Url.Action("Index")">
        <thead>
            <tr>
                <th scope="col">Meals List</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Count() == 0)
            {
                <tr>
                <td colspan="4">No meals added yet. Please add at least one to show.</td>
                </tr>
            }
            else { 
                @foreach (var meal in Model)
                {
                    <tr>@meal.Name</tr>
                    <tr>Products List</tr>
                    <tr>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">@meal.Products</li>
                            </ul>
                        </td>
                    </tr>

                     <tr>
                        <td class="col">
                            <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#editMeal"
                                    data-url="@Html.Raw(Url.Action("Edit", "Product", new { id = @meal.Id }))">
                                Edit
                            </button>
                        </td>
                        <td class="col">
                            <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#deleteMeal"
                                    data-url="@Html.Raw(Url.Action("Delete", "Product", new { id = @meal.Id }))">
                                Delete
                            </button>
                        </td>
                     </tr>
                }
            }
        </tbody>
</table>
